<%= form_with(model: meal_prep_schedule) do |form| %>
  <% if meal_prep_schedule.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(meal_prep_schedule.errors.count, "error") %> prohibited this meal_prep_schedule from being saved:</h2>

      <ul>
        <% meal_prep_schedule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :main_count, style: "display: block" %>
    <%= form.text_field :main_count, value: MealPrepSchedule::Creator::INITIAL_MAIN_COUNT %>
  </div>

  <div>
    <%= form.label :side_count, style: "display: block" %>
    <%= form.text_field :side_count, value: MealPrepSchedule::Creator::INITIAL_SIDE_COUNT %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
