<%= form_with(model: meal_prep_item, url: meal_prep_schedule_item_url(meal_prep_schedule_id: @meal_prep_item.meal_prep_schedule, id: @meal_prep_item)) do |form| %>
  <% if meal_prep_item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(meal_prep_item.errors.count, "error") %> prohibited this meal_prep_item from being saved:</h2>

      <ul>
        <% meal_prep_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :prepared, style: "display: block" %>
    <%= form.check_box :prepared %>
  </div>

  <div>
    <%= form.radio_button :meal_type, 'main' %>
    <%= form.label :meal_type_main, '主菜' %>
    <%= form.radio_button :meal_type, 'side' %>
    <%= form.label :age_adult, '副菜' %>
  </div>

  <div>
    <%= form.label :meal_prep_schedule_id, style: "display: block" %>
    <%= form.number_field :meal_prep_schedule_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
