<p style="color: green"><%= notice %></p>

<h1>Meal prep items</h1>

<div id="meal_prep_items">
  <% @meal_prep_items.each do |meal_prep_item| %>
    <%= meal_prep_item.name %>
    <p>
      <%= link_to "Show this meal prep item", meal_prep_schedule_item_path(id: meal_prep_item) %>
    </p>
  <% end %>
</div>

<%= link_to "New meal prep item", new_meal_prep_schedule_item_path %>
<%= link_to "Back to meal prep schedule", meal_prep_schedule_path(id: params[:meal_prep_schedule_id]) %>
